body {
	background: #FFF;
	height: 100%;
	padding: 5px;
	width: 100%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

canvas {
	border: solid 1px #000000;
	margin: 10px;
}