body {
  background: #FFF;
  height: 100%;
  padding: 5px;
}

#container .tab-group {
  padding: 0;
  margin: 0;
}

#container .tab-group li {
  background: #000;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 1em;
}

#container .tab-group li.active {
  background: #222;
}

#container .tab-group li:hover {
  background: #333;
}

#container .tab-contents > div {
  background: #222;
  display: none;
  padding: 10px;
}

#container .tab-contents > div.active {
  display: block;
}

#container .tab-contents > div button {
  margin: 5px;
}

#container .tab-contents > div .out {
  background: #FFF;
  overflow: auto;
}

#container .tab-contents > div .out.show {
  padding: 5px;
}
