html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#container {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  margin: 68px auto 0;
  width: 1170px;
  min-height: calc(100% - 68px);
}

/* Sidebar Styles & Search box */
#left-nav {
  background: #F9F9F9;
  border-right: 1px solid #dfe3e4;
  overflow: auto;
}

#search-container {
  background: #FFF;
  height: calc(80px - 20px);
  padding: 10px;
  position: relative;
}

#search {
  background: #F5F5F5 url('../assets/icon_search.png') no-repeat 230px -1px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  color: #A6A6A6;
  height: 30px;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  width: 272px;
}

.ng-scope .ui-autocomplete {
  text-transform: initial;
}

#search:focus {
  background: #FFF url('../assets/icon_search.png') no-repeat 230px -1px;
  border: 1px solid #d3d3d3;
  color: #606060;
  outline: none;
}

.ui-menu .ui-menu-item {
  display: flex;
}

.ui-menu .ui-menu-item span {
}

.ui-menu .ui-menu-item .grey {
  padding: 0 0 0 10px;
  color: #ccc;
  font-size: 0.9em;
  text-align: right;
  flex: 1;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  font-weight: normal;
}

/* Navigation Styles */

.navigation {
  background: #FFF;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #dfe3e4;
  border-right: 0;
}

.navigation a {
  color: #222;
  text-decoration: none;
  display: block;
  padding-left: 30px;
  transition: all ease 0.2s;
}

.navigation li {
  display: block;
  padding: 0;
  line-height: 48px;
  font-family: 'Source Sans Pro';
  color: #222;
  text-transform: capitalize;
  border-bottom: 1px solid #dfe3e4;
}

.navigation li:last-child {
  border: 0;
}

.navigation li ul {
  display: none;
  background: #F9F9F9;
  border-top: 1px solid #dfe3e4;
  padding: 0;
}

.navigation li ul li {
  border: 0;
}

.navigation li.active ul,
.navigation li.child-active ul {
  display: block;
}

.navigation li ul li a {
  padding-left: 60px;
}

.navigation a:hover,
.navigation > li.active > a,
.navigation > li ul > li.active > a {
  color: #0095de;
}

.navigation > li.active > a,
.navigation > li ul > li.active > a {
  font-weight: bold;
}

/* Contents Styles */
#contents {
  font-family: 'Source Sans Pro';
  overflow: auto;
  padding: 15px 60px;
}

.quicklink {
  list-style: none;
  padding: 0;
}

.quicklink li {
  margin: 15px 0;
}

.quicklink h3 {
  text-transform: capitalize;
}

.quicklink a,
.member {
  border: 1px solid #cdcdcd;
  color: #222;
  display: block;
  padding: 24px 38px;
  text-decoration: none;
  transition: all ease 0.2s;
}

.quicklink a:hover {
  box-shadow: 0 0 10px 0 #cdcdcd;
  border-left: 5px solid #0095de;
}

.member {
  word-wrap: break-word;
  box-shadow: 0 0 5px 0 #cdcdcd;
  border-left: 5px solid #0095de;
  padding: 15px 38px;
  margin: 10px 0;
}

.member .name {
  font-size: 20px;
}

h1.id {
  font-size: 28px;
  font-weight: bold;
  color: #222;
  text-transform: capitalize;
  margin-bottom: 0;
}

.defined-in {
  font-size: 12px;
  text-align: right;
}

#contents a[href],
.defined-in a {
  color: #0095de;
}

#contents a:hover,
.defined-in a:hover {
  text-decoration: none;
}

.static .name code {
  color: #0095de;
}

.search-results a[href] {
  display: flex;
}

.search-results .grey {
  flex: 1;
  text-align: right;
  color: #bbb;
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
}

blockquote {
  background-color: #ffcdd2;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.2em;
  font-style: italic;
  border-left: 0.4em solid #b71c1c;
  margin-left: 1em;
  padding: 0.05em 1em;
}

blockquote h4 {
  margin-bottom: 0;
}
